<a href="https://colab.research.google.com/github/007khun159/Data_En_libary-/blob/main/Data_libary2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
#CRUD data frame and management 



import pandas as pd
import numpy as np 


data = np.array([[1,2,3],[4,5,6]])
data

array([[1, 2, 3],
       [4, 5, 6]])

In [131]:
r = np.array(['r1','r2'])
c = np.array(['c1','c2','c3'])
df = pd.DataFrame(data = data
                  ,index=r 
                  ,columns =c)

df

    c1  c2  c3
r1   1   2   3
r2   4   5   6

In [132]:
my_df = pd.DataFrame(data = [4,5,6,7],index = range(0,4),columns =['A'])
print(pd.DataFrame(my_df))

   A
0  4
1  5
2  6
3  7

In [133]:
#create data

#Take a Serires as input to your DataFrame 

my_series = pd.Series({'United Kingdom':'London' , 'India':'New Delhi',
                       'United States':'Washingtod', 'Belguim':'Burssels'})

print(pd.DataFrame(my_series))

                         0
United Kingdom      London
India            New Delhi
United States   Washingtod
Belguim           Burssels

In [134]:
#Data Selection with Indexing

import pandas as pd 
import numpy as np 
from numpy.random import randn

np.random.seed(101)

In [135]:
arr = randn(5,4)

In [136]:
df = pd.DataFrame(arr,index='A  B C D E'.split(),columns = 'W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [137]:
#Column Selection with Indexing 
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [138]:
#Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [139]:
#Create New Series add column!!!
df['new'] = df['W']+df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [140]:
#Delets Series
df2 = df.drop('new',axis = 1)
df2

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [141]:
# df.drop('New',axis = 1 , inplace = True)
# df

In [142]:
# df1=df.drop('E',axis = 0)
# df1

In [143]:
#Data Manipulation 

import pandas as pd
#Create dataframe 
data = {'Company':['GooG','GooG','MSFT','MSFT','FB','FB'],
        'Person':['Sam','Charlie','Amy','Venessa','Carl','Sarah'],
        'Sales':[200,120,340,124,243,350]}

df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GooG      Sam    200
1    GooG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Venessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [144]:
#Group by 
by_comp = df.groupby('Company')
by_comp

In [145]:
by_comp.mean()

         Sales
Company
FB       296.5
GooG     160.0
MSFT     232.0

In [146]:
df.groupby('Company').mean()

         Sales
Company
FB       296.5
GooG     160.0
MSFT     232.0

In [147]:
#Head and Tail 
import pandas as pd 
import numpy as np 

long_series = pd.Series(np.random.randn(1000))

long_series.head()

0    0.302665
1    1.693723
2   -1.706086
3   -1.159119
4   -0.134841
dtype: float64

In [148]:
long_series.tail(3)

997   -0.824182
998   -0.553474
999    0.368730
dtype: float64

In [149]:
#Concatenate 
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']},index =[0,1,2,3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [150]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
                    'B':['B4','B5','B6','B7'],
                    'C':['C4','C5','C6','C7'],
                    'D':['D4','D5','D6','D7']},index =[0,1,2,3])
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [151]:
df3 = pd.DataFrame({'A':['A7','A8','A9','A10'],
                    'B':['B7','B8','B9','B10'],
                    'C':['C7','C8','C9','C10'],
                   'D':['D7','D8','D9','D10']},index =[0,1,2,3])
df3

     A    B    C    D
0   A7   B7   C7   D7
1   A8   B8   C8   D8
2   A9   B9   C9   D9
3  A10  B10  C10  D10

In [152]:
pd.concat([df1,df2,df3])

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A7   B7   C7   D7
1   A8   B8   C8   D8
2   A9   B9   C9   D9
3  A10  B10  C10  D10

In [153]:
pd.concat([df1,df2,df3],axis =1)

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A7   B7   C7   D7
1  A1  B1  C1  D1  A5  B5  C5  D5   A8   B8   C8   D8
2  A2  B2  C2  D2  A6  B6  C6  D6   A9   B9   C9   D9
3  A3  B3  C3  D3  A7  B7  C7  D7  A10  B10  C10  D10

In [160]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

In [161]:
right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [162]:
result = pd.merge(left, right, on=["key1", "key2"])
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [163]:
result = pd.merge(left, right, how="left", on=["key1", "key2"])
result

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [164]:
result = pd.merge(left, right, how="outer", on=["key1", "key2"])
result

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [170]:
raw_data ={'first_name':['Jason',np.nan,'Tina','Jake','Amy'],
           'last_name': ['Miller',np.nan,'Ali','Miler','Cooze'],
           'age':[42,np.nan,36,24,73],
           'sex':['m',np.nan,'f','m','f'],
           'preTestScore':[4,np.nan ,np.nan,2,3],
           'postTestScore':[25,np.nan,np.nan,62,70]}
df = pd.DataFrame(raw_data,columns = ['first_name','last_name','age',
                                      'sex','preTestscore','postTestscore'])
df

  first_name last_name   age  sex preTestscore postTestscore
0      Jason    Miller  42.0    m          NaN           NaN
1        NaN       NaN   NaN  NaN          NaN           NaN
2       Tina       Ali  36.0    f          NaN           NaN
3       Jake     Miler  24.0    m          NaN           NaN
4        Amy     Cooze  73.0    f          NaN           NaN

In [171]:
df_no_missing = df.dropna()
df_no_missing

Empty DataFrame
Columns: [first_name, last_name, age, sex, preTestscore, postTestscore]
Index: []

In [172]:
df_cleaned = df.dropna(how = 'all')
df_cleaned

  first_name last_name   age sex preTestscore postTestscore
0      Jason    Miller  42.0   m          NaN           NaN
2       Tina       Ali  36.0   f          NaN           NaN
3       Jake     Miler  24.0   m          NaN           NaN
4        Amy     Cooze  73.0   f          NaN           NaN

In [177]:
#fillna()
df.fillna(0)

  first_name last_name   age sex  preTestscore  postTestscore
0      Jason    Miller  42.0   m             0              0
1          0         0   0.0   0             0              0
2       Tina       Ali  36.0   f             0              0
3       Jake     Miler  24.0   m             0              0
4        Amy     Cooze  73.0   f             0              0

In [179]:
df['preTestscore'].fillna(df['preTestscore'].mean(),inplace =True)
df

  first_name last_name   age  sex  preTestscore postTestscore
0      Jason    Miller  42.0    m           NaN           NaN
1        NaN       NaN   NaN  NaN           NaN           NaN
2       Tina       Ali  36.0    f           NaN           NaN
3       Jake     Miler  24.0    m           NaN           NaN
4        Amy     Cooze  73.0    f           NaN           NaN